# PlanAhead Generated physical constraints

NET "LED_SERIES[7]" LOC = P111;
NET "LED_SERIES[6]" LOC = P112;
NET "LED_SERIES[5]" LOC = P114;
NET "LED_SERIES[4]" LOC = P115;
NET "LED_SERIES[3]" LOC = P116;
NET "LED_SERIES[2]" LOC = P117;
NET "LED_SERIES[1]" LOC = P118;
NET "LED_SERIES[0]" LOC = P119;
NET "CLK_IN" LOC = P126;
